  
  <div class="containe">
    <div class="row">
      <% posts.each do |post| %>
        <div class="col-md-6 col-lg-4 p-2">
          <div class="bg-light">
            <div class="articles div-link p-2">
              <a class="link" href="/posts/<%= post.id %>"></a>
              <% if post.image? %>
              <%= image_tag post.image.url, width: "100%", height: "285px", alt: "メディアの画像" %>
              <% else %>
                <img src="/assets/default.png" width="100%" height="285px" alt="メディアの画像" %>
              <% end %>
              <div class="font-weight-bold text-success pb-2 pt-1">&nbsp;<i class="fas fa-ellipsis-v"></i>&nbsp;<%= truncate(post.title, length:15) %></div>
              <div class="text-muted">&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp;<%= truncate(post.address, length:15) %></div>
              <div class="mb-1 text-muted">&nbsp;&nbsp;<%= post.date %> UP!</div>
              <div class="text-wrap"><%= truncate(post.report, length:50) %></div>
            </div>
            <div class="d-md-none">
              <%= link_to "この釣り情報の詳細をみる", post_path(post), class: 'btn btn-danger btn-block' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <%= paginate posts %>
  